// Inline the leaflet styles
@import '../../node_modules/leaflet/dist/leaflet.css';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
